* {
    box-sizing: border-box;
    margin: none;
}

.grid-container {
    display: grid;
}

.flex-container {
    display: flex;
}

#content {
    width: 1000px;
    margin-inline: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px
}

.book-card {
    flex-direction: column;
}

.book-section {
    text-align: center;
    margin: 0;
    padding: 5px 10px;
    border: solid 1px;
}

.book-read-toggle-false {
    background-color: grey;
}

.book-read-toggle-true {
    background-color: lightgreen;
    user-select: none;
}

.book-remove {
    background-color: lightcoral;
    user-select: none;
}

#submit-book-container {
    position: fixed;
    width: 430px;
    height: 100%;
    background-color: lightblue;
    flex-direction: column;
    align-items: center;
}